@font-face {
    font-family: 'SeoulNamsanLWeb';
    src: url('namsan.woff') format('woff');
}

* {
    font-family: 'SeoulNamsanLWeb';
    line-height: 160%;
}

body {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-image: url('image/back.jpg');
}

.back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.striked {
    text-decoration: line-through;
}

.centered {
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

img {
    max-width: 90%;
}

.top-buffer {
    padding-top: 80px;
}

header {
    background-color: rgba(47, 152, 205, 0.39);
    color: white;
    overflow: hidden;
    width: 95%;
    padding: 0 2.5%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.selected {
    font-weight: 900;
    color: green !important;
}

.done {
    opacity: 0.4;
}

.hidden {
    display: none;
}

div#login {
    text-align: center;
    margin-top: 30px;
}

.container {
    width: 88%;
    overflow: auto;
    display: block;
    padding: 0 3.5%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 15px 2.5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 0;
}

.input {
    background: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin: 10px 5%;
    border: none;
    font-size: 25px;
    padding: 10px 5%;
    outline: none;
    max-width: 400px;
    border-radius: 10px 0;
}

textarea {
    width: 96%;
    margin: 10px 2%;
    border: none;
    font-size: 15px;
    padding: 10px 0%;
    outline: none;
    height: 250px;
    resize: none;
}

.button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #888;
    cursor: pointer;
}

.button:hover {
    color: #000;
}

.red {
    color: red;
}

.green {
    color: green;
}

.factor {
    margin: 3px;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

canvas {
    display: block;
}

.clearBoth {
    clear: both;
}

.marginWrap {
    overflow: auto;
    margin: 40px 0;
}

.box {
    position: relative;;
    background-color: #fff;
    display: inline-block;
    overflow: auto;
    margin: 10px;
    padding: 20px 25px;
    padding-top: 8px;
    border-radius: 30px 0px;
}

user .box, matched .box {
    padding: 20px;
    padding-top: 25px;
}

result {
    position: fixed;
    z-index: 30;
    right: 0;
    top: 100px;
}

.description {
    background: #fff;
    max-width: 450px;
    text-align: justify;
    padding-top: 15px;
    box-shadow: 1px 1px 1px silver;
    border: 1px solid #EEE;

}

.description p {
    font-size: 0.9em;
    line-height: 1.5em;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    text-shadow: 1px 1px 1px silver;
}

[ng-click] {
    cursor: pointer;
}

[ng-click]:hover {
    text-shadow: 1px 1px 1px silver;
}

.marginTop {
    margin-top: 7px;
}

ul, li {
    list-style: none;
}

.logo {
    max-width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.inlinblock {
    display: inline-block;
}

.alert-body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.alert-text {
    display: block;
    color: white;
    font-size: 40px;
    width: 80%;
    margin: auto;
    margin-top: 20%;
}

.nemo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-bottom: -5px;
}

.fcolor {
    background-color: rgba(151, 187, 205, 1);
}

.mcolor {
    background-color: rgba(220, 220, 220, 1);
}

.ppwrap {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.add-letter {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    bottom: 30px;
    right: 30px;
    box-shadow: 1px 1px 1px silver;
    display: block;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #999;
    cursor: pointer;
    z-index: 100;
}

.add-letter:hover {
    color: black;
}

.more-letter {
    bottom: 140px;
}

.letter-head {
    margin-right: 90px;
}

.letter {
    min-width: 300px;
    max-width: 600px;
}

.profile-icon {
    background-size: 100%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
}

.profile {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(184, 184, 184);
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: center 7px;
    margin: 10px;
    margin-bottom: -8px;
    margin-right: 5px;
    margin-top: 0px;
}

.writer {
    font-size: 12px;
    color: #777;
    text-shadow: 1px 1px 1px #eee;
    position: absolute;
    right: 17px;
    bottom: 15px;
}

.input-number {
    font-size: 25px;
    width: 100px;
    outline: none;
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert-tbody {
    font-size: 40px;
    color: white;
}

.alert-writer {
    color: grey;
    font-size: 20px;
}

.big-button {
    display: inline-block;
    color: white;
    padding: 11px;
    border-radius: 8px;
    font-size: 92%;
    cursor: pointer;
    margin: 10px;
}

.facebook {
    background-color: #4B609F;
}

.testLogin {
    background-color: rgb(58, 186, 172);
}

.vertical-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.success {
    border: 1px solid rgba(0, 128, 0, 0.3);
}

.danger {
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.disabled {
    z-index: -1;
}

.youtube {
    width: 100%;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    display: inline-block;
}

.youtubeUl {
    padding: 0;
    margin-top: 15px;
    text-align:center;
}

.youtubeUl li {
    width: 100%;
    height: 300px;
    max-width: 400px;
    background-size: cover;
    display: inline-block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    position: relative;
}

.youtubeUl li > div {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
    display: block;
    padding: 10px;
    position: absolute;
    top: 0;
}

.clip {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 5%;
    height: 90%;
}

.beta-title {
    background: #347CAC;
    width: 100%;
    text-align: left;
    color: white;
    padding: 5px 10px;
    left: 0;
    top: 0;
}

.beta {
    position: fixed;
    overflow: auto;
    background: white;
    bottom: 0px;
    right: 0px;
    border-top: 4px solid #347CAC;
}

.beta-mod {
    bottom: 0px;
    right: 0px;
}

.beta > textarea {
    padding: 10px;
}

.beta > .check {
    top: 60px;
}

.beta > input {
    margin-top: 25px;
}

/*-webkit-animation: disabled 1s linear 0s infinite;*/
/*-moz-animation: disabled 1s linear 0s infinite;*/
/*-o-animation: disabled 1s linear 0s infinite;*/
/*animation: disabled 1s linear 0s infinite;*/

/*@-webkit-keyframes disabled {*/
/*0% {*/
/*opacity: 1;*/
/*}*/
/*50% {*/
/*opacity: 0.95;*/
/*}*/
/*100% {*/
/*opacity: 1;*/
/*}*/
/*}*/

/*@-moz-keyframes disabled {*/
/*0% {*/
/*opacity: 1;*/
/*}*/
/*50% {*/
/*opacity: 0.9;*/
/*}*/
/*100% {*/
/*opacity: 1;*/
/*}*/
/*}*/

/*@-o-keyframes disabled {*/
/*0% {*/
/*opacity: 1;*/
/*}*/
/*50% {*/
/*opacity: 0.9;*/
/*}*/
/*100% {*/
/*opacity: 1;*/
/*}*/
/*}*/

/*@keyframes disabled {*/
/*0% {*/
/*opacity: 1;*/
/*}*/
/*50% {*/
/*opacity: 0.9;*/
/*}*/
/*100% {*/
/*opacity: 1;*/
/*}*/
/*}*/