@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F1F4F9;
}

h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

header {
    background-color: #2F98CD;
    color: white;
    overflow: auto;
    width: 95%;
    padding: 0 2.5%;
}

.selected {
    font-weight: 900;
    color: green !important;
}

.done {
    opacity: 0.4;
}

.hidden {
    display: none;
}

div#login {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    text-align: center;
    margin-top: 30px;
}

.container {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

div#login input {
    width: 92%;
    margin: 10px 2%;
    border: none;
    font-size: 25px;
    padding: 10px 2%;
    outline: none;
    text-align: center;
}

.button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #888;
    cursor: pointer;
}

.button:hover {
    color: #000;
}

.red {
    color: red;
}

.green {
    color: green;
}

.factor {
    margin: 3px;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    float: left;
}

canvas {
    display: block;
}

.clearBoth {
    clear: both;
}

.marginWrap {
    overflow: auto;
    margin: 40px 0;
}

.box {
    background-color: #fff;
    display: inline-block;
    overflow: auto;
    margin: 10px;
    padding: 20px 25px;
}

.description {
    position: fixed;
    background: #fff;
    max-width: 450px;
    text-align: justify;
    padding-top: 5px;
    right: 0;
    top: 20px;
}

.description p {
    font-size: 0.9em;
}

.close {
    position: absolute;
    background: url('image/close.png');
    display: block;
    right: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 20px;
    width: 15px;
    height: 15px;
}

.pointer {
    cursor: pointer;
}

.icon {
    float: left;
    margin: 20px;
    margin-bottom: 10px;
    background-size: 100%;
    width: 60px;
    background-position: center;
    height: 60px;
    background-repeat: no-repeat;
}

.test-icon {
    background-image: url('image/testicon.png');
}

.test-icon:hover {
    background-image: url('image/testiconhover.png');
}

.logout-icon {
    background-image: url('image/logout.png');
}

.logout-icon:hover {
    background-image: url('image/logouthover.png');
}

.manicon {
    background-image: url('image/man.png');
}

.manicon:hover {
    background-image: url('image/manhover.png');
}

.womanicon {
    background-image: url('image/woman.png');
}

.womanicon:hover {
    background-image: url('image/womanhover.png');
}

.marginTop {
    margin-top: 7px;
}

ul, li {
    list-style: none;
}

.logo {
    font-size: 50px;
    float: left;
    font-weight: 900;
    padding: 10px;
    margin-top: 20px;
}


.inlinblock{
    display: inline-block;
}