.selected {
    font-weight: 900;
    color: green !important;
}

.done {
    opacity: 0.4;
}

.hidden {
    display: none;
}

div#login {
    width: 400px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

div#login input {
    width: 96%;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #eee;
    font-size: 30px;
    padding: 5px 2%;
    outline: none;
    text-align: center;
}

.button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #888;
    cursor: pointer;
}

.button:hover {
    color: #000;
    font-weight: 900;
}

.red {
    color: red;
}

.green {
    color: green;
}

.factor {
    margin: 3px;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    float: left;
}

canvas {
    display: block;
}

.clearBoth {
    clear: both;
}

.marginWrap {
    overflow: auto;
    margin: 40px 0;
}